* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(blue, white, green);
  display: flex;
  flex-direction: column-reverse;
  margin-left: 33%;
}

.jambe,
.ballon {
  display: inline-block;
}

.jambe,
.ballon {
  animation-fill-mode: forwards;
}

.jambe {
  width: 50px;
  height: 200px;
  background-color: white;
  animation-name: shoot;
  animation-duration: 3s;
}

.ballon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: linear-gradient(white, black);
  animation-name: roll;
  animation-duration: 6s;
  animation-delay: 1.9s;
}

@keyframes shoot {
  0% {
    transform: translate(0);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}

@keyframes roll {
  0% {
    transform: translate(0);
    transform: rotate(0);
  }
  50% {
    transform: translate(500px, -800px) rotate(0.5turn);
    height: 25px;
  }

  100% {
    transform: translate(1000px, 0px) rotate(0.5turn);
    width: 25px;
  }
}
